/* Reset some default browser styles */
body, h1, h2, p, u1, li {
    nargin: 0;
    padding: 0;
  }

  /* Apply some basic styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }

  header {
    background-color: #333;
    padding: 20px;
  }

  h1 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
  }

  nav u1 {
    list-style: none;
  }
